---
import ArrowRightIcon from '../components/icons/ArrowRightIcon.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <main>
        <section id="home">
            <h5 class="flex justify-center font-extralight text-lg text-gray-400 tracking-widest">WEB DEVELOPER WITH ANGULAR & JAVA</h5>
            <div class="text-center mt-5 text-7xl font-semibold">
                <h1>Transforming Applications into</h1>
                <h1><span class="text-[#CBACF9]">Security</span> and <span class="text-[#CBACF9]">Robustness</span></h1>
            </div>
            <h3 class="text-center mt-6 text-3xl font-extralight text-gray-300">Hi, I'm Dickson, Full Stack Developer based in Spain</h3>
            <a href="" class="flex justify-center mt-10 bg-[#141428] p-5 px-10 max-w-max mx-auto rounded-lg border border-gray-700 hover:border-[#CBACF9] transition duration-300">See my work
                <ArrowRightIcon></ArrowRightIcon>
            </a>
        </section>
    </main>
</Layout>
