---
import Card from "../components/Card.astro";
import ArrowRightIcon from "../components/icons/ArrowRightIcon.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <main>
        <section id="home">
            <img src="/logo_portfolio.png" alt="Memoji de Dickson Celauro" width="250" class="mx-auto hover:scale-110" />
            <h5
                class="flex justify-center font-extralight text-lg text-gray-400 tracking-widest"
            >
                WEB DEVELOPER WITH ANGULAR & JAVA
            </h5>
            <div class="text-center mt-5 text-6xl font-semibold">
                <h1>Transforming Applications into</h1>
                <h1>
                    <span class="text-[#CBACF9]">Security</span> and <span
                        class="text-[#CBACF9]">Robustness</span>
                </h1>
            </div>
            <h3 class="text-center mt-6 text-3xl font-extralight text-gray-300">
                Hi, I am Dickson, Full Stack Developer based in Spain 🇪🇸
            </h3>
            <a
                href=""
                class="glow-button"
            >
                <span class="glow-content">
                    See my work
                    <ArrowRightIcon />
                </span>
                <span class="glow-overlay"></span>
            </a>
        </section>

        <section id="projects">
            <div class="text-center mt-30 text-5xl font-semibold">
                <h2>Some recent <span class="text-[#CBACF9]">projects</span></h2>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 2xl:px-50 gap-6 mt-20 justify-items-center">
                <Card
                    title="Car Rental App"
                    description="This is a Rental Car App for book diferents vehicles, built with JHipster, Angular and Java."
                    image="/rentalcar_project.png"
                    link="/rental-car-app"
                    skills={[
                        "/skills/angular.png",
                        "/skills/springboot.png",
                        "/skills/typescript.png",
                        "/skills/java.png",
                    ]}
                />
                <Card
                    title="Car Dealership App"
                    description="A full-stack application for managing car dealerships, built with JHipster, Angular and Java."
                    image="/dealership_project.png"
                    link="/car-dealership-app"
                />
                <Card
                    title="Kickingball Team"
                    description="Frontend web application for a Spanish sport team, built with HTML, CSS, JS and Bootstrap."
                    image="/gladiadoras_project.png"
                    link="https://www.gladiadoraskickingball.com/"
                />
            </div>
        </section>
    </main>
</Layout>

<style>
    .glow-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2.5rem;
        padding: 1.25rem 2.5rem;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.5rem;
        background-color: #141428;
        border: 1px solid #4b5563; /* gray-700 */
        overflow: hidden;
        transition: border-color 0.3s;
        text-decoration: none;
        color: white;
    }

    .glow-button:hover {
        border-color: #cbacf9;
    }

    .glow-content {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .glow-overlay {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: rgba(203, 172, 249, 0.2); /* violeta translúcido */
        filter: blur(24px);
        animation: glow-slide 2s linear infinite;
        pointer-events: none;
    }

    @keyframes glow-slide {
        0% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }
</style>
