<header class="p-4 my-10">
    <nav>
        <ul class="flex gap-7 justify-center bg-[#141428] text-[#CBACF9] text-md font-light max-w-max mx-auto p-5 px-13 rounded-lg border border-gray-700">
            <li><a href="#" class="hover:text-white transition duration-300">Projects</a></li>
            <li><a href="#" class="hover:text-white transition duration-300">Skills</a></li>
            <li><a href="#" class="hover:text-white transition duration-300">Education</a></li>
            <li><a href="#" class="hover:text-white transition duration-300">Contact</a></li>
        </ul>
    </nav>
</header>