<header class="py-10">
    <nav>
        <ul class="flex gap-7 justify-center bg-[#141428] text-[#CBACF9] text-md font-light max-w-max mx-auto p-5 px-13 rounded-lg border border-gray-700">
            <li><a href="#home" class="relative hover:text-white transition duration-300
                 after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-25px]
                 after:w-1.5 after:h-1.5 after:rounded-full after:bg-white after:opacity-0 hover:after:opacity-100 after:transition-opacity">Home</a></li>
            <li><a href="#projects" class="relative hover:text-white transition duration-300
                 after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-25px]
                 after:w-1.5 after:h-1.5 after:rounded-full after:bg-white after:opacity-0 hover:after:opacity-100 after:transition-opacity">Projects</a></li>
            <li><a href="#education" class="relative hover:text-white transition duration-300
                 after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-25px]
                 after:w-1.5 after:h-1.5 after:rounded-full after:bg-white after:opacity-0 hover:after:opacity-100 after:transition-opacity">Education</a></li>
            <li><a href="#contact" class="relative hover:text-white transition duration-300
                 after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-25px]
                 after:w-1.5 after:h-1.5 after:rounded-full after:bg-white after:opacity-0 hover:after:opacity-100 after:transition-opacity">Contact</a></li>
        </ul>
    </nav>
</header>